<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lzm.sqlitedemo">

    <application
        android:allowBackup="true"
        android:icon="@drawable/sql_logo"
        android:label="@string/app_name"
        android:name="com.lzm.sqlitedemo.OrderApplication"
        android:largeHeap="true"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name="com.lzm.sqlitedemo.OrderActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>